.main {
	margin:0;
	margin-top:3.5rem;
	padding: 0;
	width:50%;
}

.main2 {
	width:60%;
	display:flex-block;
	margin-bottom:5rem;
}

.cartHead {
	margin: 1rem;
	margin-left: 0;
	margin-right: 40%;
	padding-top: .5rem;
	padding-bottom: .5rem;
	padding-right: 4rem;
	background-color: #5F7F39;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	color:#FFFFFF;
}

.item {
	border: 1px solid grey;	
	font-family: 'Roboto Condensed', sans-serif;
	color:#000;
	padding-left:2rem;
	font-weight: bold;
	padding-top: .5rem;
	padding-bottom: .5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.blank {
	height:50%;
}

.trash {
	align-self: center;
	display:contents;
}

.center {
	text-align: right;
}

.price {
	display: block;
	text-align: right;
	padding-right: .5rem;
}

.removeItem {
	margin-right: 1.5rem;
	height:100%;
	align-self: center;
}

.button-loadMore2 {
	border-radius: 0;
	border: none;
	color: #495057;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	width: 20%;
	margin: 1rem 0;
	display: flex-inline;
}

.button-loadless2 {
	border-radius: 0;
	border: none;
	color: #495057;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	width: 20%;
	margin: 1rem 0;
	display: flex-inline;
}

.button-checkout {
	background-color: #8FA253;
	color: #fff;
	display:flex-inline;
	margin:1rem 0;
	width:20%;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
}

.buttons {
	display:flex;
	justify-content: space-around;

}